## Seleção de elementos no pandas

<a href="https://pandas.pydata.org/pandas-docs/stable/dsintro.html">Fonte</a>

In [1]:
import pandas as pd
import numpy as np

### Acesso elementar a elementos de uma Series

In [2]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [3]:
s

a    0.305748
b    0.438622
c    1.120551
d    1.832165
e    0.423130
dtype: float64

In [4]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [5]:
for elem in s.index:
    print (elem)

a
b
c
d
e

In [6]:
s.loc['a']

0.30574845826814673

In [7]:
for elem in s.index:
    print (s[elem])

0.30574845826814673
0.4386224445139366
1.1205512009665828
1.832165408460932
0.4231299994721898

In [8]:
for elem in s.index:
    print (s.loc[elem])

0.30574845826814673
0.4386224445139366
1.1205512009665828
1.832165408460932
0.4231299994721898

#### Por posição

Uma Series funciona de forma semelhante a um ndarray do NumPy

In [9]:
s[3]

1.832165408460932

In [10]:
for elem in range(len(s)):
    print (s[elem])

0.30574845826814673
0.4386224445139366
1.1205512009665828
1.832165408460932
0.4231299994721898

In [11]:
for elem in range(len(s)):
    print (s.iloc[elem])

0.30574845826814673
0.4386224445139366
1.1205512009665828
1.832165408460932
0.4231299994721898

In [12]:
print('4: %f, 3: %f, 1:%f '%(s[4], s[3], s[1]))

4: 0.423130, 3: 1.832165, 1:0.438622

In [13]:
s[1:3]

b    0.438622
c    1.120551
dtype: float64

In [14]:
s[2:-2]

c    1.120551
dtype: float64

In [15]:
s[0:-2]

a    0.305748
b    0.438622
c    1.120551
dtype: float64

### Acesso elementar a elementos de uma Dataframe

In [16]:
np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), 
                   columns=list('BCDE'))],
               axis=1)
df.iloc[7, 0] = np.nan

In [17]:
df

      A         B         C         D         E
0   1.0  1.329212 -0.770033 -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011 -0.481165  0.850229
4   5.0  1.453425  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   NaN  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538  0.290720

In [18]:
df.iloc[7]

A         NaN
B    0.354493
C    1.037528
D   -0.385684
E    0.519818
Name: 7, dtype: float64

In [19]:
df.iloc[:,0]

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     NaN
8     9.0
9    10.0
Name: A, dtype: float64

In [20]:
df.iloc[7,0]

nan

In [21]:
df['A']

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     NaN
8     9.0
9    10.0
Name: A, dtype: float64

In [25]:
# loc[row, column] 
df.loc[7,'A']

nan

In [26]:
# Numpy style: [column][row]
df['A'][7]

nan

### Sobre estilos

In [27]:
df

      A         B         C         D         E
0   1.0  1.329212 -0.770033 -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011 -0.481165  0.850229
4   5.0  1.453425  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   NaN  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538  0.290720

In [28]:
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'red' if val < 0 else 'green'
    return 'color: %s' % color

In [29]:
s = df.style.applymap(color_negative_red)
s